<h1>Create Course</h1>

<%= form_with scope: :course, url: courses_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Lista de cursos', courses_path %>
